.DS_Store
.git
.gitignore
.next
.vercel
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
output
config.toml

.env
.env.local
.env.selfhost.local
.env.development.local
.env.test.local
.env.production.local

Dockerfile
docker-compose*.yml
docker-compose*.yaml
